<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/recipe_results.css') }}">
  </head>
  <body>
    <header>
      <div class="topribbon" height="30">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('blog') }}">Blog</a>
        <a href="{{ url_for('contact') }}">Contact</a>
      </div>
    <header/>
    <p>Recipe Genius was created in 2019 by Kyle Stanley, a home cook, who was tired of forgetting ingredients during his weekly trips to the grocery store. Instead of an unordered, not aggregated list of items to purchase scrawled on a piece of paper, Recipe Genius categorizes, groups, and orders ingredients in a logical way making the trip to the supermarker a breeze. <br /> Kyle works in Data Science and loves to make pasta and other elaborate dishes.</p>
  </body>
</html>
