<html>
  <head>
    <!-- <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 1000px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style> -->
    <title> Recipe Aggregator </title>
  </head>
  <body>
    <h1>{{recipe|safe}}</h1>
    <form method="POST" action="/recipe_sent">
      <h3>Send Recipe to Email</h3>
      <input type="text" name="recipe_sent">
      <input type="hidden" name='recipe_list' value="{{recipe}}">
      <input type="Submit">
    </form>
  </body>
</html>
