<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="topribbon" height="30">
        <a href="{{ url_for('blog') }}">Blog</a>
        <a href="{{ url_for('blog') }}">Contact</a>
        <a href="{{ url_for('blog') }}">About</a>
      </div>
      <img src="{{url}}" width="100%" height="500"/>
      <div class="top-left">Recipe Aggregator</div>
    </header>
    <div class="container">
      <form method="POST" action="/index">
        <h3>NYT Cooking Recipe to Add</h3>
        <input type="text" name="added_recipe" align="center">
        <input type="hidden" name="recipe_urls" value="{{recipe_urls}}">
        <input type="submit">
      </form>
      <p><small>Courtesy: <a href="https://cooking.nytimes.com/?action=click&module=nav&region=logo&pgType=recipe-page">NYT Cooking</a></small></p>
      <form method="POST" action="/index">
        <h3>Epicurious Recipe to Add</h3>
        <input type="text" name="added_recipe" align="center">
        <input type="hidden" name="recipe_urls" value="{{recipe_urls}}">
        <input type="submit">
      </form>
      <p><small>Courtesy: <a href="https://www.epicurious.com">Epicurious</a></small></p>
      <form method="POST" action="/index">
        <h3>All Recipes Recipe to Add</h3>
        <input type="text" name="added_recipe" align="center">
        <input type="hidden" name="recipe_urls" value="{{recipe_urls}}">
        <input type="submit">
      </form>
      <p><small>Courtesy: <a href="https://www.allrecipes.com">All Recipes</a></small></p>
      <h1>Added Recipes:</h1>
      <h3> {{recipe_urls}} </h3>
      <form method="POST" action="/add_recipe">
        <h2>Build Recipe List</h3>
        <input type="hidden" name="recipe_urls" value="{{recipe_urls}}">
        <input type="submit">
      </form>
    </div>
    <!-- <div>
      <form method="POST" action="/add_recipe">
        <h3>NYT Cooking Recipe to Add</h3>
        <input type="text" name="added_recipe">
        <input type="Submit">
      </form>
    </div> -->
  </body>
</html>
