<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/post.css') }}">
  </head>
  <body>
    <header>
      <div class="topribbon" height="30">
        <a>Recipe Genius</a>
        <a>Contact</a>
        <a>About</a>
      </div>
    </header>
    <div class="card">
      <h2>Blog Post #1</h2>
      <h5>May 1, 2019</h5>
      <div class="recipeimg">
        <img src="{{ url_for('static', filename='images/Daniel.jpg') }}" alt="Daniel" width="90%">
      </div>
      <p> This is where the post goes </p>
    </div>
